<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="main">
        <category id="main" label="WireGuard Switcher">
            <group id="1">
                <setting id="next_server" type="action" label="Nächsten VPN-Server aktivieren">
                    <action>RunScript(service.wireguard.switcher,next)</action>
                </setting>
                <setting id="show_status" type="action" label="Verbindungsstatus anzeigen">
                    <action>RunScript(service.wireguard.switcher,status)</action>
                </setting>
                <setting id="map_button" type="action" label="Remote-Taste belegen">
                    <action>RunScript(service.wireguard.switcher,learn)</action>
                </setting>
            </group>
            <group id="2">
                <setting id="kill_switch" type="bool" label="Kill Switch (kein Internet ohne VPN)">
                    <default>false</default>
                    <help>Wenn aktiv: bricht der VPN-Tunnel ab, wird sofort jeglicher Internetverkehr blockiert. Schützt vor IP-Leaks beim Streaming. Solange VPN nicht verbunden ist, hat das Gerät kein Internet.</help>
                </setting>
            </group>
        </category>
    </section>
</settings>
